roblox-wine/
roblox-wine-staging/
.rlw_epoch

debian/files
debian/roblox-linux-wrapper
debian/*.log
debian/*.substvars

# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so
*.dylib

# Compiled Static libraries
*.lai
*.la
*.a
