[Desktop Entry]
Comment=Play Roblox
Name=Roblox Linux Wrapper
Exec=$HOME/.rlw/rlw-stub.sh
Actions=RFAGroup;ROLWiki;
GenericName=Building Game
Icon=roblox
Categories=Game;
Type=Application

[Desktop Action Support]
Name=GitHub Support Ticket
Exec=xdg-open 'https://github.com/alfonsojon/roblox-linux-wrapper/issues/new'

[Desktop Action ROLWiki]
Name=Roblox on Linux Wiki
Exec=xdg-open 'http://roblox.wikia.com/wiki/Roblox_On_Linux'

[Desktop Action RFAGroup]
Name=Roblox for All
Exec=xdg-open 'http://www.roblox.com/Groups/group.aspx?gid=292611'
