Source: roblox-linux-wrapper
Section: contrib/games
Priority: optional
Maintainer: James Lu <bitflip3@gmail.com>
Uploaders: Jonathan Alfonso <alfonsojon1997@gmail.com>
Build-Depends: debhelper (>= 9), git
Standards-Version: 3.9.8
Homepage: https://github.com/roblox-linux-wrapper/roblox-linux-wrapper
Vcs-Git: https://github.com/roblox-linux-wrapper/roblox-linux-wrapper
Vcs-Browser: https://github.com/roblox-linux-wrapper/roblox-linux-wrapper

Package: roblox-linux-wrapper
Architecture: all
Depends: ${misc:Depends},
 wine (>= 1.7.28) | wine1.7 (>= 1.7.28) | wine-staging-compat (>= 1.7.28) | wine-development (>= 1.7.28),
 winetricks,
 zenity,
 wget,
 xdg-utils
Recommends: winbind
Description: Linux Wrapper for Roblox using Wine
 This package provides Roblox Linux Wrapper, an installer for ROBLOX
 on Linux systems using Wine.
