[Desktop Entry]
Name=Roblox Player Launcher
Exec=bash -c "$HOME/.rlw/handlers/roblox-studio.sh %u"
Type=Application
StartupNotify=true
Categories=Game;
Terminal=false
MimeType=x-scheme-handler/roblox-studio;
